<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://begroting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>begroting.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>begroting</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$begroting</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BegrotingDB_EF" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:begroting.database.windows.net,1433;Initial Catalog=begroting;User ID=begroting@begroting.database.windows.net;Password=Blended01" Name="Data Source=tcp:begroting.database.windows.net,1433;Initial Catalog=begroting;User Id=begroting@begroting.database.windows.net;Password=Blended01" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLSERVER2012;Initial Catalog=BegrotingDB_EF;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BegrotingDB_EF_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLSERVER2012;Initial Catalog=BegrotingDB_EF;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BegrotingDB_EF-Web.config Connection String">
      <ParameterValue>Data Source=tcp:begroting.database.windows.net,1433;Initial Catalog=begroting;User Id=begroting@begroting.database.windows.net;Password=Blended01</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>